.ui footer {
	flex-shrink: 0;
	flex-grow: 1;
	box-shadow: 0 0px 6px #AAA;
}
.ui footer > .panel {
	--resizer-thickness: .5rem;
	position: relative;
	box-sizing: border-box;
	padding-top: var(--resizer-thickness);
}
.ui footer > .panel > button.resizer {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: var(--resizer-thickness);
	top: 0;
	left: 0;
	border: none;
	border-top: var(--frame-line);
	background: canvas;
	background-image: radial-gradient(var(--frame-color) 25%, #0000 0%);
	background-size: .5rem .5rem;
	background-position: center;
	cursor: row-resize;
	touch-action: none;
}
.ui footer > .panel > button.resizer:hover {
	background-color: var(--hover-color);
}
.ui footer > .panel > section {
	box-sizing: border-box;
	height: 100%;
	padding: 0 var(--spacer) var(--spacer);
	overflow-y: auto;
}

.ui footer > .log {
	height: 6rem;
}
.ui footer > .log > section > :first-child {
	margin-top: 0;
}
.ui footer > .log > section > :last-child {
	margin-bottom: 0;
}
.ui footer > .log > section h2 {
	display: inline-block;
	margin: 0;
}
.ui footer > .log > section .controls {
	display: inline-block;
	margin-left: var(--spacer);
	vertical-align: text-bottom;
}
.ui footer > .log > section ul {
	font-family: monospace;
	padding-left: 1rem;
}

.ui footer > .tools > section > * {
	display: inline-block;
}
.ui footer > .tools > section h2 {
	margin: 0;
	padding-right: var(--spacer);
}
.ui footer > .tools > section .input-group {
	padding: 0 var(--spacer);
}

.ui footer > .list > section h2 {
	margin: 0;
}
.ui footer > .list > section > .io {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
@media (min-width: 50em) {
	.ui footer > .list > section > .io {
		flex-direction: row;
	}
}
.ui footer > .list > section > .io > * {
	width: 100%;
}

.ui footer > .toolbar {
	border-top: var(--frame-line);
	padding: var(--spacer);
	height: 3rem;
	display: flex;
	gap: var(--spacer);
	align-items: center;
}
.ui footer > .toolbar > .message {
	flex-grow: 1;
}
.ui footer > .toolbar > button {
	position: relative;
	align-self: stretch;
	box-sizing: border-box;
}
.ui footer > .toolbar > button[aria-expanded=true]::before,
.ui footer > .toolbar > button[aria-expanded=true]::after {
	content: '';
	position: absolute;
	inset: 0;
}
.ui footer > .toolbar > button[aria-expanded=true]::before {
	background: #0001;
	box-shadow: 0 0 2px 1px #0006;
	height: unset;
}
.ui footer > .toolbar > button[aria-expanded=true]::after {
	top: unset;
	height: 1px;
	background: #FFF8;
	box-shadow: 0 0 2px 1px #FFF8;
}
