:root {
	--light-text-color: #444;
	--frame-color: #AAA;
	--hover-color: #DEF;

	--frame-line: solid 1px var(--frame-color);
	--padding: .5rem;
	--major-button-padding: .3rem;
}
@media (prefers-color-scheme: dark) {
	:root {
		--light-text-color: #CCC;
		--frame-color: #666;
		--hover-color: #246;
	}
}

body {
	padding: 0;
	margin: 0;
}
body > .symbols {
	display: none;
}
.ui {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.ui main {
	flex-basis: 100%;
	overflow-y: auto;
}
.ui main > h1,
.ui main > h2,
.ui main > [class$="-input-group"] {
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.ui [class$="-input-group"] {
	margin: var(--padding) 0;
}
.ui .major-input-group :is(input[type=text], textarea, button):not([hidden]) {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: .2em 0;
}
.ui .major-input-group button {
	padding: var(--major-button-padding);
}

.ui .more {
	position: sticky;
	left: 0;
	padding: var(--padding);
}
.ui .more button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: var(--major-button-padding);
}

.ui time[title] {
	text-decoration: underline dotted 1px;
}
.ui:not(.with-time) time[title] {
	display: inline-block;
}
.ui:not(.with-time) time[title] .time {
	display: none;
}

.ui button.with-icon,
.ui dialog button.close {
	box-sizing: border-box;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
}
.ui button.with-icon:hover,
.ui dialog button.close:hover {
	background: var(--hover-color);
}
.ui button.with-icon > svg,
.ui dialog button.close > svg {
	width: 100%;
	height: 100%;
}

.ui .grid {
	--adder-width: 10ch;
	--column-min-width: 25ch;
	--icon-size: 1.25em;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	min-width: calc(var(--column-min-width) * var(--columns) + var(--adder-width));
}
.ui .grid :is(td,th) {
	padding: 0;
	vertical-align: top;
}
.ui .grid col.adder {
	width: var(--adder-width);
}
.ui .grid .icon {
	--temp-accent-color: hsl(var(--hue) 50% 50%);
	--accent-color: var(--temp-accent-color,var(--light-text-color));
	display: block;
	position: absolute;
	left: var(--padding);
	width: var(--icon-size);
	height: var(--icon-size);
}
.ui .grid .icon > * {
	position: absolute;
	inset: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.ui .grid thead {
	--base-z-index: 0;
}
.ui .grid thead th {
	--base-z-index: 1;
	position: sticky;
	top: 0;
	z-index: var(--base-z-index);
}
.ui .grid thead td {
	position: relative;
	z-index: var(--base-z-index);
}
.ui .grid thead td.adder {
	position: relative;
	padding: 0 var(--padding);
	text-align: right;
}
.ui .grid thead td.adder button {
	width: calc(var(--adder-width) - var(--padding));
	aspect-ratio: 1;
}
.ui .grid thead th .tab {
	position: relative;
	height: calc(1rem + 2 * var(--padding));
	border-left: var(--frame-line);
	border-right: var(--frame-line);
	border-top: var(--frame-line);
	border-top-left-radius: var(--padding);
	border-top-right-radius: var(--padding);
	margin-right: -1px;
	cursor: grab;
	touch-action: none;
	background: canvas;
	box-shadow: 0 4px 4px -4px #AAA;
}
.ui .grid thead th .tab > * {
	position: absolute;
}
.ui .grid thead th .tab .icon {
	top: calc(var(--padding) - 1px);
	left: calc(var(--padding) - 1px);
	background: var(--accent-color);
}
.ui .grid thead th .tab .icon > * {
	background: canvas;
	color: var(--accent-color);
}
.ui .grid thead th .tab .label {
	display: block;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: calc(var(--icon-size) + 2 * var(--padding));
	right: calc(1rem + 2 * var(--padding));
	text-align: left;
	line-height: 2;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ui .grid thead th .tab button {
	top: var(--padding);
	right: var(--padding);
	width: 1rem;
	height: 1rem;
}
.ui .grid thead td .card {
	position: relative;
	padding: var(--padding);
	margin-right: -1px;
	background: canvas;
}
.ui .grid thead td .card .avatar {
	float: right;
	width: 20%;
	min-width: 2rem;
	max-width: 100px;
	margin-left: var(--padding);
	margin-bottom: var(--padding);
	border: var(--frame-line);
}
.ui .grid thead td .card .avatar img {
	display: block;
	width: 100%;
	max-height: 100px;
	max-width: 100px;
}
.ui .grid thead td .card .field:nth-last-child(2n) {
	background: #8881;
}
.ui .grid thead td .card .uid {
	color: var(--light-text-color);
	font-size: .8em;
}
.ui .grid thead td .card .updates ul {
	margin: 0;
	padding: 0 0 0 1em;
}
.ui .grid thead td .card .updates button {
	vertical-align: bottom;
	height: 1rem;
	width: 1rem;
}
.ui .grid thead td .card form > [class$="-input-group"]:first-child {
	margin-top: 0;
}
.ui .grid thead td .card form > [class$="-input-group"]:last-child {
	margin-bottom: 0;
}
.ui .grid thead td .card::before,
.ui .grid thead td .card::after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background: linear-gradient(var(--frame-color), transparent);
}
.ui .grid thead td .card::before {
	left: 0;
}
.ui .grid thead td .card::after {
	right: 0;
}
.ui .grid thead tr.selectors td {
	--base-z-index: 2;
	position: sticky;
	top: var(--padding);
	pointer-events: none;
}
.ui .grid thead tr.selectors td .selector {
	height: var(--icon-size);
}
.ui .grid thead tr.selectors td .selector .icon {
	background: var(--accent-color);
	pointer-events: all;
}

.ui .grid thead :is(th,td).settling,
.ui .grid.with-grabbed-tab thead :is(th,td).grabbed {
	z-index: calc(var(--base-z-index) + 10);
}
.ui .grid thead th.settling .tab, 
.ui .grid thead td.settling :is(.card,.selector) {
	transition: translate 50ms;
}
.ui .grid.with-grabbed-tab thead th:not(.grabbed) .tab,
.ui .grid.with-grabbed-tab thead td:not(.grabbed) :is(.card,.selector) {
	transition: translate 100ms;
}
.ui .grid.with-grabbed-tab thead th:not(.grabbed) .tab > *,
.ui .grid.with-grabbed-tab thead td:not(.grabbed) .card > * { /* keep selector opaque */
	opacity: .5;
}
.ui .grid.with-grabbed-tab thead th.grabbed .tab, 
.ui .grid.with-grabbed-tab thead td.grabbed :is(.card,.selector) {
	cursor: grabbing;
	user-select: none;
}

.ui .grid tbody tr.separator td .month {
	padding: var(--padding) 0;
	text-align: center;
	position: sticky;
	left: 0;
	width: var(--main-width);
}
.ui .grid tbody tr.separator td .month time {
	background: canvas;
	padding: 0 .5em;
	color: var(--light-text-color);
}
.ui .grid tbody tr.separator td .month::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 50%;
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, transparent, var(--frame-color) 50%, transparent);
}

.ui .grid tbody tr.item td {
	--vertical-padding: .125rem;
	position: relative;
	padding: var(--vertical-padding) var(--padding) var(--vertical-padding) calc(2 * var(--padding) + var(--icon-size));
	min-height: var(--icon-size);
	text-overflow: ellipsis;
	overflow: hidden;
}
.ui .grid tbody tr.item.changeset td .icon::before {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	top: 50%;
	background: var(--accent-color);
}
.ui .grid tbody tr.item.changeset.closed td .icon::before {
	top: 0;
	bottom: 50%;
}
.ui .grid tbody tr.item.changeset.combined td .icon::before {
	top: 0;
	bottom: 0;
}
.ui .grid tbody tr.item.note td .icon {
	box-sizing: border-box;
	border: solid 1px var(--accent-color);
	border-radius: 50%;
	color: var(--accent-color);
}
.ui .grid tbody tr.item td .icon > .no-checkbox {
	width: .75rem;
	height: .75rem;
	background: canvas;
}
.ui .grid tbody tr.item td .changes {
	border-radius: 4px;
	padding: 2px 4px;
	font-family: sans-serif;
	font-size: .8em;
	background: #8882;
	color: var(--light-text-color);
}

.ui footer {
	flex-shrink: 0;
	flex-grow: 1;
	box-shadow: 0 0px 6px #AAA;
}
.ui footer > * {
	padding: var(--padding);
	border-top: var(--frame-line);
}
.ui footer:not(.with-log) > .log {
	display: none;
}
.ui footer > .log {
	height: 6rem;
	overflow-y: auto;
}
.ui footer > .log > :first-child {
	margin-top: 0;
}
.ui footer > .log > :last-child {
	margin-bottom: 0;
}
.ui footer > .log h2 {
	display: inline-block;
	margin: 0;
}
.ui footer > .log .controls {
	display: inline-block;
	margin-left: var(--padding);
	vertical-align: text-bottom;
}
.ui footer > .log ul {
	font-family: monospace;
	padding-left: 1rem;
}
.ui footer > .toolbar {
	height: 3rem;
	display: flex;
	gap: var(--padding);
	align-items: center;
}
.ui footer > .toolbar > .message {
	flex-grow: 1;
}
.ui footer > .toolbar > button {
	align-self: stretch;
}

.ui dialog {
	padding: 1rem;
}
.ui dialog button.close {
	float: right;
	width: 2rem;
	height: 2rem;
	margin: -2px;
}
.ui dialog > button.close:first-child + section > h2:first-child {
	margin-top: 0;
}
