:root {
	--light-text-color: #444;
	--frame-color: #AAA;
	--hover-color: #DEF;

	--frame-line: solid 1px var(--frame-color);
}
@media (prefers-color-scheme: dark) {
	:root {
		--light-text-color: #CCC;
		--frame-color: #666;
		--hover-color: #246;
	}
}

body {
	padding: 0;
	margin: 0;
}
body > .symbols {
	display: none;
}
.ui {
	position: fixed;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 4rem;
}
.ui main,
.ui footer {
	padding: .5rem;
	overflow-y: auto;
}

.ui [class$="-input-group"] {
	margin: .5rem 0;
	--major-button-padding: .3rem;
}
.ui .major-input-group :is(input[type=text], textarea, button):not([hidden]) {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: .2em 0;
}
.ui .major-input-group button {
	padding: var(--major-button-padding);
}

.ui time[title] {
	text-decoration: underline dotted 1px;
}
.ui:not(.with-time) time[title] {
	display: inline-block;
}
.ui:not(.with-time) time[title] .time {
	display: none;
}

.ui button.close {
	box-sizing: border-box;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
}
.ui button.close:hover {
	background: var(--hover-color);
}
.ui button.close > svg {
	width: 100%;
	height: 100%;
}

.ui .grid {
	--padding: .5rem;
}
.ui .grid > .tab {
	display: flex;
	height: 1rem;
	padding: .5rem;
	overflow: none;
	border-left: var(--frame-line);
	border-right: var(--frame-line);
	border-top: var(--frame-line);
	border-top-left-radius: var(--padding);
	border-top-right-radius: var(--padding);
	margin-right: -1px;
}
.ui .grid > .tab button.close {
	margin-left: auto;
	width: 1rem;
	height: 1rem;
}
.ui .grid > .card {
	padding: var(--padding);
	border-left: var(--frame-line);
	border-right: var(--frame-line);
	margin-right: -1px;
}
.ui .grid > .separator {
	grid-column: 1 / -1;
	margin: .5em 0;
	text-align: center;
	position: relative;
}
.ui .grid > .separator time {
	background: canvas;
	padding: 0 .5em;
	color: var(--light-text-color);
}
.ui .grid > .separator::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	height: 1px;
	width: 100%;
	background: var(--frame-color);
	z-index: -1;
}
.ui .grid > .changeset {
	padding: 0 var(--padding);
}

.ui footer {
	border-top: var(--frame-line);
	display: flex;
	gap: 1rem;
	align-items: center;
}
.ui footer > button {
	align-self: stretch;
	margin-left: auto;
}

.ui dialog {
	padding: 1rem;
}
.ui dialog button.close {
	float: right;
	width: 2rem;
	height: 2rem;
	margin: -2px;
}
.ui dialog > button.close:first-child + section > h2:first-child {
	margin-top: 0;
}
