:root {
	--light-text-color: #444;
	--frame-color: #AAA;
	--light-frame-color: #DDD;
	--hover-color: #DEF;

	--frame-line: solid 1px var(--frame-color);
	--light-frame-line: solid 1px var(--light-frame-color);
	--spacer: .5rem;
	--major-button-padding: .3rem;
}
@media (prefers-color-scheme: dark) {
	:root {
		--light-text-color: #CCC;
		--frame-color: #666;
		--light-frame-color: #444;
		--hover-color: #246;
	}
}

body {
	padding: 0;
	margin: 0;
}
body > .symbols {
	display: none;
}
.ui {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.ui main {
	flex-basis: 100%;
	overflow-y: auto;
}
.ui main > h1,
.ui main > h2,
.ui main > [class$="-input-group"] {
	padding-left: var(--spacer);
	padding-right: var(--spacer);
}

.ui [class$="-input-group"] {
	margin: var(--spacer) 0;
}
.ui .major-input-group :is(input[type=text], textarea, button):not([hidden]) {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: .2em 0;
}
.ui .major-input-group button {
	padding: var(--major-button-padding);
}

.ui .more {
	position: sticky;
	left: 0;
	padding: var(--spacer);
}
.ui .more button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: var(--major-button-padding);
}

.ui.with-time time[title] {
	text-decoration: underline dotted 1px;
}
.ui:not(.with-time) time[title] .date {
	text-decoration: underline dotted 1px;
}
.ui:not(.with-time) time[title] :is(.gap,.time) {
	display: none;
}

.ui button.with-icon,
.ui dialog button.close {
	box-sizing: border-box;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
}
.ui button.with-icon:hover,
.ui dialog button.close:hover {
	background: var(--hover-color);
}
.ui button.with-icon > svg,
.ui dialog button.close > svg {
	width: 100%;
	height: 100%;
}

@import 'css/grid.css';
@import 'css/footer.css';

.ui dialog {
	padding: 1rem;
}
.ui dialog button.close {
	float: right;
	width: 2rem;
	height: 2rem;
	margin: -2px;
}
.ui dialog > button.close:first-child + section > h2:first-child {
	margin-top: 0;
}
